$small: 'only screen and (min-width: 768px)';
$medium: 'only screen and (min-width: 992px)';
$large: 'only screen and (min-width: 1200px)';

$colorFont: #eee;
$colorAccent: #407fa5;
$colorBackground: #333;
$colorBackgroundLighter: lighten($colorBackground, 10%);
$colorBackgroundLightest: lighten($colorBackground, 25%);

